<%- include('layouts/heading') %>
<div class="hero bg-info text-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 mt-5">
                <h1 class="hero-title">Stay curious.</h1>
                <p class="hero-description">Discover stories, thinking, and expertise from writers on any topic.</p>
                <a href="/post" class="btn btn-light my-2 px-3 py-3 fw-bolder">Start Reading</a>
            </div>
            <div class="col-md-4">
                <img src="./contents/girl.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<div className="container">
    <div className="text-center">
        <h2 class="hero-title story-title text-center mt-5 ">Every idea needs a <span class="fw-bolder">Beyond Thought.</span></h2>
    <div className="video-content">
        <center>
        <video class="mt-5 rounded mb-3" poster="https://source.unsplash.com/1600x800/?blogs" width="58%" height="100%" controls autoplay
            loop>
            <source src="../contents/blogintro.mp4" type="video/mp4" />
        </video>
    </center>
    </div>
    
        <p class="story-content mx-4 mt-4 fs-4 ">The best ideas can change who we are. Medium is where those ideas take shape,
        take off, and spark powerful
        conversations. We’re an open platform where over 100 million readers come to find insightful and dynamic thinking.
        Here,
        expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our
        purpose is
        to spread these ideas and deepen understanding of the world.
    
        We’re creating a new model for digital publishing. One that supports nuance, complexity, and vital storytelling
        without
        giving in to the incentives of advertising. It’s an environment that’s open to everyone but promotes substance and
        authenticity. And it’s where deeper connections forged between readers and writers can lead to discovery and growth.
        Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas
        and
        the people who think about them.</p>

    </div>
    
</div>
</body>
</html>