<%- include('./layouts/heading') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 mt-5">
             <form action="" class="mt-5">
                <h2 class="mb-4 fw-bold">Welcome Beyond Thoughts</h2>
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
</div>
<input type="submit" class="btn btn-dark px-5 py-2 mt-4" value="Login Now">
             </form>
             <p class="register mt-3">New to Beyond the pages ?<a href="/register">Register Now</a></p>
            </div>
        </div>
    </div>